<!doctype html>
<html lang="ko">
 <head>
  <meta charset="UTF-8">
  <meta name="Author" content="">
  <meta name="Keywords" content="">
  <meta name="Description" content="">
  <title><%= title %></title>
  <link rel="stylesheet"  href="/css/main.css">
  <link rel="stylesheet"  href="/css/sub.css">
 </head>
<body>
<div id="wrap">
    <form action="/login/joinus_process" method="post">
    <table>
        <caption>입력하기</caption>
    <tr>
        <th><label for="id">id</label></th>
        <td><input type="text" id="id" name="u_id" placeholder="id" > <a href="#" id="idChk" >중복확인</a></td>
    </tr>
    <tr>
        <th><label for="password">password</label></th>
        <td><input type="password" id="password" name="u_ps" placeholder="password"  required></td>
    </tr>
     <tr>
        <th><label for="name">name</label></th>
        <td><input type="type" id="name" name="u_name" placeholder="name" required ></td>
    </tr>
    </table>
        <input id="join" type="submit" value="가입하기" >
    </form>
 
</div>

<script>
     
     <% if(isLogin) { %>
      alert('가입 되지 않았습니다')
    <% } %>

          

    document.querySelector('#idChk').addEventListener('click',function(e){
        e.preventDefault(false);
        var forms = Object.values(document.forms[0])
        forms.forEach(v=>{
            if(v.name==="u_id"){
                var value = v.value
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                var reciveData = JSON.parse(this.responseText)
                    if(reciveData.code===00){
                        alert(reciveData.msg)
                    }else if(reciveData.code===99){
                        alert(reciveData.msg)
                    }else{        
                        alert('다른값으로 체크해주세요')
                    }
                    }
                    };
                    xhttp.open("POST", "/login/joinus_process_confirm", true);
                    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                    xhttp.send("value="+value);
            }
        })
    })
    
   
</script>
 </body>
</html>
