<% include ../header/header2%>

<body>
    <h1><%= title %></h1>
    <form method="post" action="/login/login_process">
        <p><label for="id">id</label><input type="text" name="id" id="id" placeholder="id"></p>
        <p><label for="password">password</label><input type="password" name="password" id="password" placeholder="password"></p>
        <p><input type="submit"></p>
    </form> 
</body>

</html>